@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;400&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

html{
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%), url(./image.jpg/wall.jpg);
}
body{
    background: #06bcc1;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
#container{
    width: 95%;
    height: 65vh;
    display: flex;
    text-align: center;
}
.quotes{
    width:900px ;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color:gray ;
    background-color: #f4edea;
    border: 10px  solid #f4d1ae;
}
.quotes p {
    font-size: 1.5rem;
    text-align: center;
}
.quotes h3{
    font-size: 1.5rem;
    color: blue;
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 75px;
    width: 1200px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:blue;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    float: right;
    padding-top: 10px ;
    display: flex-start;
    text-align: center;
    justify-content: center;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin-left: 62px;
    margin-top: 27px;
    list-style: none;
    font-size: 14px;
}
li{
    flex: 1;
}
ul li a{
    text-decoration: none;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color: yellown;
}


.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
}
.content h1{
    animation: type 2s steps(15), blink.5s infinite alternate ; 
    overflow: hidden;
    white-space: nowrap;
    width: 15ch ;
    border-right: 3px solid;  
    font-family: monospace;
      
}/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  * {box-sizing: border-box}

  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
@keyframes type{
    from {
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent ;
    }
}
.fadeIn{
    animation: fadeIn 3s;
    animation-fill-mode: both;
}
.wait-2s{
    animation-delay:2s ;
}
@keyframes fadeIn{
    from{ opacity: 0;}
    
    to {opacity: 1;}
}
@media(max-width:480px){
    .quotes p, .quotes h3{
        font-size:1rem ;
    }
}